
@{
    ViewBag.Title = "Index";
}

<section class="section-pagetop bg-light">
    <div class="container">
        <h3 class="title-page">Thanh toán thành công</h3>
        <p> <a href="@Url.Action("Index","HomeUser")">Tiếp tục mua hàng</a></p>
    </div> <!-- container .// -->
</section>